#images{
  background-image: url("images/backimage.jpg");
  background-repeat:no-repeat;
  height: 1071px;
  width:1920px;
  background-size: 100%;
  height: 100%;
  width: 100%;
}
.heading1{
color: white;
}
.heading2{
  color: white;
}
.heading3{
  color: white;
}
#image{
  align-self: center;
  padding-top: 200px;
}
#image2{
  align-self: center;
  padding-top: 150px;
}
body{
text-align: center;
}
#SERVICES{
  background-image: url("images/s_image.jpg");
  background-repeat:no-repeat;
  height: 488px;
  width:1920px;
  height: 100%;
  width: 100%;
  text-align: center;
  background-size: 100%;
}
.color{
  color: white;
  text-align: center;
}
.color1{
  color: white;
}
.color2{
  color: white;
}
#SERVICES h2{
  padding-top: 80px;
}
.color3{
  color: white;
  padding-bottom:80px;
}
.column{
  float: left;
  width: 33.33%;
}
