#images{
  background-image: url("images/backimage.jpg");
  background-repeat:no-repeat;
  height: 1071px;
  width:1920px;
  background-size: 100%;
  height: 100%;
  width: 100%;
}
.heading1{
color: white;
}
.heading2{
  color: white;
}
.heading3{
  color: white;
}
#image{
  align-self: center;
  padding-top: 200px;
}
#image2{
  align-self: center;
  padding-top: 150px;
}
body{
text-align: center;
}
#SERVICES{
  background-image: url("images/s_image.jpg");
  background-repeat:no-repeat;
  height: 488px;
  width:1920px;
  height: 100%;
  width: 100%;
  text-align: center;
  background-size: 100%;
}
.color{
  color: white;
  text-align: center;
}
.color1{
  color: white;
}
.color2{
  color: white;
}
#SERVICES h2{
  padding-top: 80px;
}
.color3{
  color: white;
  padding-bottom:80px;
}
.column{
  float: left;
  width: 33.33%;
}
#full,#latest,#planning{
  display: none;
}
.arrange{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-gap: 20px;
  align-items: stretch;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 40px;
  margin-top: 20px;
  justify-content: center;
}
.arrange img{
  border: 1px solid  white #ccc;
  box-shadow: 2px 2px 6px 0px black rgba(0, 0, 0, 0.3);
  max-width: 100%;
}
#contact{
  background-image: url("images/c_image.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 683px;
  background-position: 0% 0%;
  background-size: 100% 100%;

}
